* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background:#0A0C1B;
    font-family: 'Roboto', sans-serif;
}

.spinner {
    max-width: 188px;
    position: relative;
    margin: 60px auto;
}

.spinner img {
    width: 100%;
    display: block;
    border-radius: 50%;
    /* filter: grayscale(100%);
    transition: filter 0.8s; */
    filter: brightness(100%) ;
    transition: filter 0.8s;
}

.spinner:hover img {
    /* filter: grayscale(0); */
    filter: brightness(1.6);
}

.spinner::before {
    content: '';
    position: absolute;
    inset: -12px;
    border: 5px solid transparent;
    border-bottom-color: #ffffff;
    border-top-color: #1411db;
    border-radius: 50%;
    z-index: -1;
    animation: spinner 6s linear infinite;

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 37px;
    color: #ffffff;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
}

.tec {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
    color: #ffffff;
    margin-top: 12px;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    gap: 20px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        #5c74ec81;
    color: #f3f4f7;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px 30px;
    transition: background 400ms;
}

ul li a:hover {
    background: #1e254d;
    cursor: pointer;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

footer {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    opacity: 0.7;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}
